<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Android SDK</a></li>
		        	<li><a href="/about">iOS Objective C</a></li>
	        		<li><a href="/cv">iOS Swift</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dp@finotes.com">email</a></li>
	        		<li><a href="https://github.com/finotes">github.com/finotes</a></li>
				</ul>
			</footer>
		</body>
	</html>
